.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 20px;
  font-size: large;
  color: white;
}

.App-header {
  width: 70vw;
  
}

button, select, input {
  padding: 5px;
  font-size: medium;
  border-radius: 8px;
}

label {
  margin-top: 5px;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 300px;
}

.nogrid {
  display: block;
}